@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.container {
  margin: 4rem 7rem;
  text-align: center;
}

.description {
  padding-top: 2rem;
  font-size: x-large;
}

label {
  display: block;
  font-size: x-large;
  font-weight: 600;
}

input {
  margin: 1rem;
  width: 100%;
  border: 2px solid #32a0a8;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-width: 300px;
}

#check-button {
  background: #fff;
  background-color: #32a0a8;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  margin: auto;
  display: block;
  font-size: large;
  padding: 0.5rem 1rem;
}

#error-message {
  margin-top: 2rem;
  font-size: x-large;
}

.change-table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
}

caption {
  margin-top: 2rem;
  font-size: xx-large;
}

th,
td {
  border: 1px solid #32a0a8;
  border-collapse: collapse;
  width: 0%;
  padding: 0.2rem;
  font-size: large;
}
